<div md-swipe-right="menu.onSwipe()" md-swipe-left="menu.onSwipe()" layout='column' layout-fill>


    <div ng-include="'assets/html/settings_menu.html'"></div>

    <md-content flex>
        <ui-gmap-google-map center='map.center' zoom='map.zoom' draggable="true">
            <ui-gmap-markers models="Markers" coords="'self'" icon="'icon'">
                <marker animation="DROP" position="current-location"></marker>
            </ui-gmap-markers>
        </ui-gmap-google-map>
    </md-content>

    <div flex="10" style="background-color: #F44336;" layout="row" layout-align="center center" ng-click="goMap()">
        <div>
            <ng-md-icon icon="pin_drop" style="color:white;" md-48></ng-md-icon>
        </div>
    </div>
</div>


<!--<div md-swipe-right="menu.onSwipe()" md-swipe-left="menu.onSwipe()">-->

    <!--<div ng-include="'assets/html/settings_menu.html'"></div>-->

    <!--<ui-gmap-google-map center='map.center' zoom='map.zoom' draggable="true">-->
        <!--<ui-gmap-markers models="Markers" coords="'self'" icon="'icon'">-->
        <!--</ui-gmap-markers>-->
    <!--</ui-gmap-google-map>-->
<!--</div>-->