<md-toolbar ng-init='init()' layout-align="center center">{{main.title}}</md-toolbar>
<md-content>
    <md-list>
        <md-subheader class="md-no-sticky">Pokemon list</md-subheader>
        <md-list-item class="md-3-line" ng-repeat="pokemon in pokemons" id="popupContainer">
            <div class="md-list-item-text" layout="column">
                <h3>{{ pokemon.name }}</h3>
            </div>
            <md-button id="{{pokemon.name}}" ng-click="go()" class="md-secondary">&gt;</md-button>
        </md-list-item>
    </md-list>
</md-content>