<!--<div style="height: 100%; width:100%; background-color:#E4E4E4;">-->
    <!--<md-toolbar flex ng-init='init()' layout-align="center center">-->
        <!--<div class="md-toolbar-tools" layout="row" layout-align="space-between center">-->
            <!--<p>{{ shared.info.auth }} {{ shared.info.title }}</p>-->
            <!--<div style="width: 40px; height: 40px;"></div>-->
        <!--</div>-->
    <!--</md-toolbar>-->


    <!--<div layout="row" layout-sm="column" layout-align="space-around">-->
        <!--<md-progress-circular md-mode="indeterminate" md-diameter="96"></md-progress-circular>-->
    <!--</div>-->

    <!--<div class="bottom_button">-->
    <!--</div>-->
<!--</div>-->

<div md-swipe-right="menu.onSwipe()" md-swipe-left="menu.onSwipe()" layout='column' layout-fill>

    <md-toolbar class='md-medium-tall' style="background-color: #F44336;">
    <div class="md-toolbar-tools">
    <span></span>
    <span flex></span>
    </div>
    </md-toolbar>

    <md-content flex class='md-padding' layout="row" layout-align="center center">
        <md-progress-circular md-mode="indeterminate" md-diameter="96"></md-progress-circular>

    </md-content>

    <div flex="10" style="background-color: #F44336;" layout="row" layout-align="center center">
    </div>
</div>