<div md-swipe-right="menu.onSwipe()" md-swipe-left="menu.onSwipe()" layout='column' layout-fill>


    <div ng-include="'assets/html/settings_menu.html'"></div>

    <md-content flex class='md-padding'>
        <md-card>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">{{ pokemon.name}}</span>
                    <span class="md-subhead">
                        <p ng-repeat="t in pokemon.types"> {{ t.type.name }}</p>
                    </span>
                </md-card-title-text>
                <md-card-title-media>
                    <div class="md-media-lg card-media">
                        <img src="{{ pokemon.sprites.front_default }}"/>
                    </div>
                </md-card-title-media>
            </md-card-title>

            <md-card-actions layout="row" layout-align="end center">
                <md-button ng-href="http://www.pokemon.com/nl/pokedex/{{ pokemon.name }}">{{ lan.str.moreInfo }}</md-button>
            </md-card-actions>
        </md-card>

        <md-card>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">{{  }}</span>
                    <span class="md-subhead">{{lan.str.standardInformation}}
                        <h5> {{lan.str.baseExperience}} : {{ pokemon.base_experience }}</h5>
                        <h5> {{lan.str.height}} : {{ pokemon.height }}</h5>
                        <h5> {{lan.str.weight}} : {{ pokemon.weight }}</h5>
                        <h5> Pokedex id : {{ pokemon.order }}</h5>
                    </span>
                </md-card-title-text>
                <md-card-title-media>
                    <div class="md-media-lg card-media">
                        <img src="{{ pokemon.sprites.back_default }}"/>
                    </div>
                </md-card-title-media>
            </md-card-title>
            <md-card-content>
            </md-card-content>
            <md-card-actions layout="row" layout-align="end center">
                <md-button ng-href="http://www.pokemon.com/nl/pokedex/{{ pokemon.name }}">{{ lan.str.moreInfo }}</md-button>
            </md-card-actions>
        </md-card>
    </md-content>



    <div flex="10" style="background-color: #F44336;" layout="row" layout-align="center center" ng-click="goMap()">
        <div>
            <ng-md-icon icon="pin_drop" style="color:white;" md-48></ng-md-icon>
        </div>
    </div>
</div>
