<div md-swipe-right="menu.onSwipe()" md-swipe-left="menu.onSwipe()">

    <div ng-include="'assets/html/settings_menu.html'"></div>

    <md-content layout="row" layout-xs="column">
        <md-content layout="column">
            <img src="{{ pictureSrc }}" style="height: 60vh; width:auto;" ng-click="updateProfilePicture()" />
        </md-content>

        <md-content layout="column">
            <div>
                <h3>{{ lan.str.fullName }} : {{  shared.info.auth }}</h3>
            </div>

            <div>
                <h3>{{ lan.str.catchedPokemon }} :</h3>
            </div>
            <div layout="column">
                <div ng-repeat="group in pokemonGroups" layout="row">
                    <div ng-repeat="pokemon in group">
                        <img src="{{ pokemon.sprites.front_default }}" />
                    </div>
                </div>
            </div>
        </md-content>
    </md-content>

    <div class="bottom_button">
    </div>
</div>
